<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
    <div id="header">
      <header class="header" :class="{'header--sticky': scrollPosition > 100}">
        <div class="header__nav">
          <nav class="nav nav--left">
            <ul class="nav__bar">
              <li
                class="nav__item"
                v-for="nav in navigation.left"
                :key="nav.name"
              >
                <a class="nav__link" :href="nav.url">{{nav.name}}</a>
              </li>
            </ul>
          </nav>
          <a class="logo">
            <img :src="logo" :alt="logoAlt" />
          </a>

          <nav class="nav nav--right">
            <ul class="nav__bar">
              <li
                class="nav__item"
                v-for="nav in navigation.right"
                :key="nav.name"
              >
                <a class="nav__link" :href="nav.url">{{nav.name}}</a>
              </li>
              <li class="nav__item">
                <button class="nav__icon">
                  <span></span><span></span><span></span><span></span
                  ><span></span><span></span><span></span><span></span
                  ><span></span>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </header>
    </div>

    <section class="hero" id="hero">
      <h1>{{title}}</h1>
    </section>

    <section class="portfolio section" id="portfolio">
      <div class="section__body">
        <div class="container">
          <div class="cards cards--half">
            <div class="card" v-for="card in cards" :key="card.id">
              <div class="cardHead">
                <img :src="card.img" alt="Moiraspace Portfolio" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <footer class="footer" id="footer"></footer>

    
    <script src="https://unpkg.com/vue@next"></script>
    
    <script src="/js/components/header.js"></script>
    <script src="/js/illustrations.js"></script>
    <script src="/js/components/footer.js"></script>

  </body>
</html>
