@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  
  font-family: 'Poppins', sans-serif;
  min-height: 1200;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.header {
  --header-color : #000;
  background-color: #fff;
  height: 110px;
  padding-left: 0px;
  padding-right: 0px;
  transition: height 0.3s linear 0s;
}

.header--sticky.header {
  height: 70px;
  --header-color : #fff;
  background-color: #000;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  transition: width 0.3s linear 0s, height 0.3s linear 0s;
}

@media (max-width: 767px) {
  .header__nav {
    align-items: center;
  }
}
@media (min-width: 768px) {
  .header {
    padding-left: 44px;
    padding-right: 44px;
  }

  .logo {
    width: 180px;
    height: 180px;
    padding: 16px;
  }

}

/* HEader ends */

.nav__bar {
  display: flex;
  align-items: center;
  list-style: none;
  height: 110px;
  transition: height 0.3s linear 0s;
}

.nav--right .nav__bar {
  justify-content: flex-end;
}

.header--sticky .nav__bar {
  height: 70px;
}

.nav {
  width: calc(50% - 100px);
}



.nav__item {
  padding-left: 20px;
  padding-right: 20px;
}

.nav__link {
  font-size: 16px;
  color: var(--header-color);
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}


.nav__icon {
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  border : 0;
  padding: 0;
  background-color: transparent;
}

.nav__icon span {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--header-color);
  border-radius: 50%;
  margin-left: 5px;
  margin-bottom: 5px;

}

.hero {
  height: 400px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  background-color: #000;
  justify-content: center;
}

.hero h1 {
  color: #fff;
  font-weight: 600;
  font-size: 42px;
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    height: 480px;
    padding-left: 64px;
    padding-right: 64px;
  }
  .hero h1 {
    font-size: 56px;
  }
}


h2 {
  font-size: 48px;
  font-weight: 500;
}


.section {
  padding-top: 80px;
  padding-bottom: 100px;
}
.section__head {
  text-align: center;
}
.section__body {
  margin-top: 60px;
}

/* cards */
.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

@media (min-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  
  .cards--half {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cardHead {
  background-color: #f5f5f5;
  padding: 4px;
  border-radius: 4px;
}

/* cards */

.container {
  max-width: 1300px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */

.footerWrapper {
  background-color: #121211;
}

.wrapper {
  max-width: 120rem;
  margin: 0px auto;
}

/* Footer */
.footer {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer__wrapper {
  max-width: 1166px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.footer__column {
  width: 100%;
  text-align: center;
}
.footer__logo {
  display: inline-block;
  width: 180px;
}

.footer__nav {
  margin-top: 16px;
  margin-bottom: 16px;
}

.footer__nav a{

  color: #f5f5f5;
  padding-left: 16px;
  padding-right: 16px;
  opacity: 0.6;
}

.footer__address {
  color: #fff;
  text-transform: none;
  margin-top: 20px;
  opacity: 0.2;
}

.footer__copyright {
  color: #fff;
  opacity: 0.2;
}